resources/xsd/sale/version1/saleCheckRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="eRtl">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SaleChckReq">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SpRefNum" type="SpRefNumString"/>
                            <xs:element name="SubSpRefNum" type="SubSpRefNumString"/>
                            <xs:element name="RtlCentCode" type="RtlCentCodeString"/>
                            <xs:element name="SlDevId" type="xs:string"/>
                            <xs:element name="RctVrfNum" type="xs:string"/>
                            <xs:element name="SlDt" type="xs:string"/>
                            <xs:element name="CustomId" type="xs:string"/>
                            <xs:element name="CustomPhNum" type="xs:string"/>
                            <xs:element name="ZNum" type="xs:string"/>
                            <xs:element name="SlRefNum" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="eRtlSignature" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="SpRefNumString">
        <xs:restriction base="xs:string">
            <xs:minLength value="9"/>
            <xs:maxLength value="9"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SubSpRefNumString">
        <xs:restriction base="xs:string">
            <xs:minLength value="6"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RtlCentCodeString">
        <xs:restriction base="xs:string">
            <xs:minLength value="6"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SlDevIdString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>