resources/xsd/system/version1/setupRequestUserDetail.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="eRtl">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SetupInfReq">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SetHd">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="SpRefNum" type="SpRefNumString"/>
                                        <xs:element name="SetupReqId" type="SetupReqIdString"/>
                                        <xs:element name="SpSysId" type="SpSysIdString"/>
                                        <xs:element name="SetupTyp" type="SetupTypString"/>
                                        <xs:element name="SetClBckUrl" type="SetClBckUrlString"/>
                                        <xs:element name="DevId" type="DevIdString"/>
                                        <xs:element name="SetupRespFlag" type="SetupRespFlagString"/>
                                        <xs:element name="Vrs" type="VrsString"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="SetupDtl" maxOccurs="unbounded" minOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="SpRefNum" type="SpRefNumString"/>
                                        <xs:element name="SubSpRefNum" type="SubSpRefNumString"/>
                                        <xs:element name="RtlCentCode" type="RtlCentCodeString"/>
                                        <xs:element name="RgnCode" type="RgnCodeString"/>
                                        <xs:element name="AccExp" type="AccExpString"/>
                                        <xs:element name="AccLock" type="AccLockString"/>
                                        <xs:element name="AccEn" type="AccEnString"/>
                                        <xs:element name="CredExp" type="CredExpString"/>
                                        <xs:element name="SpAdmin" type="SpAdminString"/>
                                        <xs:element name="TopAdmin" type="TopAdminString"/>
                                        <xs:element name="PsswdExpryDt" type="PsswdExpryDtDate"/>
                                        <xs:element name="Psswd" type="PsswdBase64Binary"/>
                                        <xs:element name="FNm" type="FNmString"/>
                                        <xs:element name="LNm" type="LNmString"/>
                                        <xs:element name="MNm" maxOccurs="1" type="MNmString"/>
                                        <xs:element name="PhNum" type="PhNumString"/>
                                        <xs:element name="PhNum1" maxOccurs="1" type="PhNum1String"/>
                                        <xs:element name="Email" maxOccurs="1" type="EmailString"/>
                                        <xs:element name="UsrNm" type="UsrNmString"/>
                                        <xs:element name="Addrs" type="AddrsString"/>
                                        <xs:element name="RoleNm" type="RoleNmString"/>
                                        <xs:element name="GenDt" type="GenDtDateTime"/>
                                        <xs:element name="GenBy" type="GenByString"/>
                                        <xs:element name="ApvdBy" type="ApvdByString"/>
                                        <xs:element name="ApvdDt" type="ApvdDtDateTime"/>
                                        <xs:element name="StsCode" type="StsCodeString"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="eRtlSignature" type="eRtlSignatureString"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--=================Start Header Xds Validation=================-->
    <xs:simpleType name="SpRefNumString">
        <xs:restriction base="xs:string">
            <xs:maxLength value="9"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SetupReqIdString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SpSysIdString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SetupTypString">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SET011"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SetClBckUrlString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DevIdString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SetupRespFlagString">
        <xs:restriction base="xs:string">
            <xs:enumeration value="false"/>
            <xs:enumeration value="true"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="VrsString">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1.0"/>
        </xs:restriction>
    </xs:simpleType>

    <!--=================End Header Xsd Validation=================-->
    <!--=================Start Message Payload Xsd Validation======-->

    <xs:simpleType name="SubSpRefNumString">
        <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RtlCentCodeString">
        <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RgnCodeString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AccExpString">
        <xs:restriction base="xs:string">
            <xs:enumeration value="false"/>
            <xs:enumeration value="true"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AccLockString">
        <xs:restriction base="xs:string">
            <xs:enumeration value="false"/>
            <xs:enumeration value="true"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AccEnString">
        <xs:restriction base="xs:string">
            <xs:enumeration value="false"/>
            <xs:enumeration value="true"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CredExpString">
        <xs:restriction base="xs:string">
            <xs:enumeration value="false"/>
            <xs:enumeration value="true"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SpAdminString">
        <xs:restriction base="xs:string">
            <xs:enumeration value="false"/>
            <xs:enumeration value="true"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TopAdminString">
        <xs:restriction base="xs:string">
            <xs:enumeration value="false"/>
            <xs:enumeration value="true"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PsswdExpryDtDate">
        <xs:restriction base="xs:date">
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PsswdBase64Binary">
        <xs:restriction base="xs:base64Binary">
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FNmString">
        <xs:restriction base="xs:string">
            <xs:pattern
                    value="([\p{IsBasicLatin}\p{IsLatin-1Supplement}\w\s\\:.+=\-^,^;?|*\[\]{}()@/#$%^'~`&amp;&quot;&apos;&lt;&gt;\n\r]*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="200"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="LNmString">
        <xs:restriction base="xs:string">
            <xs:pattern
                    value="([\p{IsBasicLatin}\p{IsLatin-1Supplement}\w\s\\:.+=\-^,^;?|*\[\]{}()@/#$%^'~`&amp;&quot;&apos;&lt;&gt;\n\r]*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="200"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MNmString">
        <xs:restriction base="xs:string">
            <xs:pattern
                    value="([\p{IsBasicLatin}\p{IsLatin-1Supplement}\w\s\\:.+=\-^,^;?|*\[\]{}()@/#$%^'~`&amp;&quot;&apos;&lt;&gt;\n\r]*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="200"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PhNumString">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]*)"/>
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PhNum1String">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]*)"/>
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="EmailString">
        <xs:restriction base="xs:string">
            <xs:maxLength value="200"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="UsrNmString">
        <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AddrsString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="200"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RoleNmString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:pattern value="[A-Z_]+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="GenDtDateTime">
        <xs:restriction base="xs:dateTime">
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GenByString">
        <xs:restriction base="xs:string">
            <xs:pattern value="([a-zA-Z0-9 _\\:.+=\-^,^;?|*\[\]{}()@/#$%^'~`&amp;&quot;&apos;&lt;&gt;\n\r]*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ApvdByString">
        <xs:restriction base="xs:string">
            <xs:pattern value="([a-zA-Z0-9 _\\:.+=\-^,^;?|*\[\]{}()@/#$%^'~`&amp;&quot;&apos;&lt;&gt;\n\r]*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ApvdDtDateTime">
        <xs:restriction base="xs:dateTime">
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="StsCodeString">
        <xs:restriction base="xs:string">
            <xs:maxLength value="5"/>
            <xs:pattern value="[0-9]{5}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="eRtlSignatureString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <!--=================End Message Payload Xsd Validation======-->
</xs:schema>