resources/xsd/system/version1/setupRequestItemTariffChargeDetail.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="eRtl">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SetupInfReq">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SetHd">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="SpRefNum" type="xs:string"/>
                                        <xs:element name="SetupReqId" type="xs:string"/>
                                        <xs:element name="SpSysId" type="xs:string"/>
                                        <xs:element name="SetupTyp" type="xs:string"/>
                                        <xs:element name="SetClBckUrl" type="xs:string"/>
                                        <xs:element name="DevId" type="xs:string"/>
                                        <xs:element name="SetupRespFlag" type="xs:boolean"/>
                                        <xs:element name="Vrs" type="xs:decimal"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="SetupDtl" maxOccurs="unbounded" minOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="MinTrfAmt" type="xs:unsignedByte"/>
                                        <xs:element name="MaxTrfAmt" type="xs:unsignedShort"/>
                                        <xs:element name="TrfAmt" type="xs:unsignedByte"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="eRtlSignature" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
