resources/xsd/system/version1/SystemSetupResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="eRtl">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="SetupInfResp">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SetupRespId" type="SetupRespIdString"/>
                            <xs:element name="SetupReqId" type="SetupReqIdString"/>
                            <xs:element name="SetupTyp" type="SetupTypString"/>
                            <xs:element name="SpRefNum" maxOccurs="1" minOccurs="0" type="SpRefNumString"/>
                            <xs:element name="SubSpRefNum" maxOccurs="1" minOccurs="0" type="SubSpRefNumString"/>
                            <xs:element name="RtlCentCode" maxOccurs="1" minOccurs="0" type="RtlCentCodeString"/>
                            <xs:element name="XRCode" maxOccurs="1" minOccurs="0" type="XRCodeString"/>
                            <xs:element name="UsrNm" maxOccurs="1" minOccurs="0" type="UsrNmString"/>
                            <xs:element name="DevMdlCode" maxOccurs="1" minOccurs="0" type="DevMdlCodeString"/>
                            <xs:element name="DevCode" maxOccurs="1" minOccurs="0" type="DevCodeString"/>
                            <xs:element name="ItmCode" maxOccurs="1" minOccurs="0" type="ItmCodeString"/>
                            <xs:element name="Vrs" type="VrsString"/>
                            <xs:element name="StsCode" type="StsCodeString"/>
                            <xs:element name="StsDesc" type="StsDescString"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="eRtlSignature" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="SetupRespIdString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SetupReqIdString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SetupTypString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SpRefNumString">
        <xs:restriction base="xs:string">
            <xs:maxLength value="9"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SubSpRefNumString">
        <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RtlCentCodeString">
        <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="XRCodeString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:pattern value="([a-zA-Z0-9 _\\:.+=\-^,^;?|*\[\]{}()@/#$%^'~`&amp;&quot;&apos;&lt;&gt;\n\r]*)"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="UsrNmString">
        <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DevMdlCodeString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DevCodeString">
        <xs:restriction base="xs:string">
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ItmCodeString">
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="VrsString">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1.0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="StsCodeString">
        <xs:restriction base="xs:string">
            <xs:maxLength value="5"/>
            <xs:pattern value="[0-9]{5}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="StsDescString">
        <xs:restriction base="xs:string">
            <xs:pattern value="([a-zA-Z0-9 _\\:.+=\-^,^;?|*\[\]{}()@/#$%^'~`&amp;&quot;&apos;&lt;&gt;\n\r]*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
