resources/xsd/user/version1/userLoginRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="eRtl">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="UsrReq">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="UsrNm" type="xs:string"/>
                            <xs:element name="Psswd" type="xs:base64Binary"/>
                            <xs:element maxOccurs="1" minOccurs="0" name="DevId" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="eRtlSignature" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>