resources/xsd/package/version1/packageActivationRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="eRtl">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="PgActReq">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="PgCode" type="PgCodeString"/>
                            <xs:element name="DevId" type="DevIdString"/>
                            <xs:element name="PaidAmt" type="PaidAmtDecimal"/>
                            <xs:element name="PmTyp" type="PmTypString"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="eRtlSignature" type="SignatureString"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="SignatureString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PgCodeString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DevIdString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PaidAmtDecimal">
        <xs:restriction base="xs:decimal">
            <xs:minExclusive value="0"/>
            <xs:totalDigits value="38"/>
            <xs:fractionDigits value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PmTypString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:enumeration value="CASH"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
