resources/xsd/efdmsZReport/version1/ZReportRequestAck.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="eRtl">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ZRepReqAck">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ZRepAckId" type="xs:string" />
                            <xs:element name="ZRepReqId" type="xs:string" />
                            <xs:element name="StsCode" type="xs:string" />
                            <xs:element name="StsDesc" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="eRtlSignature" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>